<%- include('header') %>

<!-- Display error message if it exists -->
<% if (typeof errorMessage !== 'undefined' && errorMessage) { %>
<div class="error-message">
    <p><%= errorMessage %></p>
</div>
<% } %>

<main id="dashboard-<%= userType %>">
    <div id="dashboard-main-div">
        <!-- Corrected to use user['image'] and user['name'] for consistency -->
        <img src="<%= 'http://localhost:3000/'+user['image'] %>" alt="<%= user['name'] %>" id="profileimg">
        <h1>Welcome <%= user.name %></h1>
    </div>
</main>

<%- include('footer') %>